footer{
    padding-top:30px;
    position: relative;
    bottom:0;
    width:100%;
    height:250px;
    background-color: #4D4D4D;
}

footer section{
    margin:auto;
    width:80%;
    height: 100%;
    text-align: center;
}

footer section h2{
    padding:10px;
    color:#fff;
}

footer section nav li{
    list-style: none;
    display: inline-block;
    margin:10px;
}

footer section nav li img{
    width: 40px;
}

footer section p{
    font-size:12px;
    margin-top:20px;
    color:#fff;
}

/*efectos*/

footer section nav li img:hover{
    scale:();
}