{% extends "/base.html" %}

{% block titlep %} PAGINA DE INICIO {% endblock %}
{% block titulo %} PAGINA DE INICIO {% endblock %}

{% block contenido %}

<form method="get" action="/reservas" name="formRegistro">

    <p>
        <label>FECHA INICIO</label>
        <input type="date" id= "iduser" name="username" required> </p>
    <p>
        <label>FECHA REGRESO</label>
        <input type="date" id= "idpwd" name="clave" >
    <p>
    <button type="submit" value="Enviar" >Enviar</button>
</form>

<br></br>
{% for key, habitaciones in lista_habitaciones.items() %}
    <h2>{{habitaciones.titulo}}</h2>
    <p>{{habitaciones.cuerpo}} <a href="/habitacion/{{key}}">Ver habitacion.</a> </p>
{% endfor %}

<br></br>
<h1>Otros enlaces</h1>

<a href="/registro">REGISTRO</a> <br>
<a href="/login">INICIAR SESION</a> <br>
<a href="/perfil/pepito">PERFIL</a> <br>
<a href="/calificar/pepito/7">CALIFICAR</a> <br>
<a href="/perfil_reservas">RESERVAS POR PERFIL</a> <br>
<a href="/admin_gesuser">ADMIN GESTIONAR USUARIO</a> <br>
<a href="/admin_geshabitacion">ADMIN GESTIONAR HABITACION</a> <br>
<a href="/admin_gescomentario">ADMIN GESTIONAR COMENTARIO</a> <br>
<a href="/admin_profile">PERFIL DE ADMINISTRADOR</a> <br>
<a href="/superadmin_gesuser">SUPERADMIN GESTIONAR USUARIO</a> <br>
<a href="/superadmin_geshabitacion">SUPERADMIN GESTIONAR HABITACION</a> <br>
<a href="/superadmin_gescomentario">SUPERADMIN GESTIONAR COMENTARIO</a> <br>
<a href="/superadmin_gesroles">SUPERADMIN GESTIONAR ROLES</a> <br>
<a href="/superadmin_profile">PERFIL DE SUPERADMINISTRADOR</a> <br>

{% endblock %}