<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>PAGINA DE INICIO</title>

</head>
<body>

    <h1>PAGINA INICIO</h1>

    <a href="/">INICIO |</a>
    <a href="/habitaciones_reservas">HABITACIONES - RESERVAS |</a>
    <a href="/quienes_somos">¿QUIENES SOMOS? |</a>
    <a href="/politicas_de_privacidad"> POLITICAS DE PRIVACIDAD |</a>
    <a href="/terminos_y_condiciones">TERMINOS Y CONDICIONES</a>

    <br>
    <div>
      <form action="/reservas">
        <input type="date">
        <input type="date">
        <input type="submit" name="" id="">
      </form>
    </div>
    <h1>Otros enlaces</h1>

    <a href="/registro">REGISTRO</a> <br>
    <a href="/login">INICIAR SESION</a> <br>
    <a href="/perfil_reservas">RESERVAS POR PERFIL</a>
</body>
</html>