<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Habitacion</title>
</head>
<body>
    <section>
        <div class="form-agregar-hab">
            <form action="/agregar_habitacion" method="post">
            <p>{{form.id_habitacion.label}} <br> 
            {{form.id_habitacion()}}</p>
            <p>{{form.nombre.label}} <br>
            {{form.nombre()}}</p>
            <p>{{form.precio.label}} <br>
            {{form.precio()}}</p>
            <p>{{form.descripcion.label}} <br> {{form.descripcion()}}</p>
            <p>{{form.crear()}}</p>
            </form>
        </div>
    </section>
    
</body>
</html>