<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <section>
        <div class="registro-img">
            <img src="/img/icons/logo.png" alt="">
        </div>
        <div class="form-registro">
            <form action="/perfil" method="post">
                <img src="/img/emote-cliente.png" alt="" class="emote">
                
                <div class="estrellas">
                    <select name="estrellas" id="id-estrellas" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </div>
                <div class="mensaje">
                    <label for="" class="mensaje">Mensaje</label><br>
                    <input type="text" class="input-mensaje" name="mensaje">
                </div>
                <div class="btn-calificar">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>