<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <section>
            <div>
                <h2>Yuanyang Building</h2>
                <nav>
                    <ul>
                        <li><img src="/img/icons/facebook.png" alt=""></li>
                        <li><img src="/img/icons/instagram.png" alt=""></li>
                        <li><img src="/img/icons/twitter.png" alt=""></li>
                    </ul>
                </nav>
                <p>Terms & Conditions Privacity Polity<br>
                Copyright © 2021 Yuanyang Building</p>
            </div>
        </section>
    </footer>
</body>
</html>