<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <h1>Titulo</h1>
        {% if sesion_iniciada %}
            <p>Bienvenidos</p>
            <!---vinculo para perfil usuario--->
            <a href="/perfil/user">Perfil<a>
            <form action="/salir" method="post">
                {{ crsf_token}}
            <input type="submit" value="Salir">
            </form>
        {% else %}
            <p>Recuerda iniciar sesion</p>
        {% endif %}
        <a href="/registro">Registro</a>
        <a href="/login">Login</a>
        <a href="/agregar_habitacion">Hab</a>
        <a href="/reservas">Reservas</a>
        <form action="/reservas" method="get">
            <input type="number" name="personas">
            <input type="number" name="habitaciones">
            <input type="date" name="fecha_entrada">
            <input type="date" name="fecha_salida">
            <input type="submit" value="buscar">
        </form>
        {% for i in range(5) %}
            <p>{{i}}</p>
        {% endfor %}
    </body>
    </html>