<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <section>
        <div class="registro-img">
            <img src="/img/icons/logo.png" alt="">
        </div>
        <div class="form-registro">
            <form action="">
                <img src="/img/emote-cliente.png" alt="" class="emote">
                <label for="" class="label-diferent">Dirección de correo electrónico</label>
                <input type="text" name="" id="" class="input-diferent" name="correo">
                <label for="" class="label-diferent">Contraseña</label>
                <input type="password" class="input-diferent" name="cotraseña">

                <div class="btn-login">
                    <input type="submit" value="Iniciar Sesion">
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>