<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <section>
        <div class="form-registro">
            <form method="post" action="/login">
                <label for="" class="label-diferent">Dirección de correo electrónico</label>
                <input type="text" name="correo" id="correo" class="input-diferent">
                <label for="" class="label-diferent">Contraseña</label>
                <input type="password" class="input-diferent" name="cotraseña" id = "contraseña">

                <div class="btn-login">
                    <input type="submit" value="Iniciar Sesion">
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>