<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <section>
        <div class="registro-img">
            <img src="/img/icons/logo.png" alt="">
        </div>
        <div class="form-registro">
            <form action="">
                <img src="/img/emote-cliente.png" alt="" class="emote">

                <div class="nombre">
                    <label for="" class="label-nombre-apellido">Nombre</label>
                    <input type="text" 
                    class="input-nombre-apellido"
                    name="nombre">
                </div>

                <div class="apellido">
                    <label for="" class="label-nombre-apellido">Apellido</label>
                    <input type="text" class="input-nombre-apellido" name="apellido">
                </div>

                <label for="" class="label-diferent">Dirección de correo electrónico</label>
                <input type="text" name="" id="" class="input-diferent" name="correo">

                <label for="" class="label-diferent">Nombre de usuario</label>
                <input type="text" class="input-diferent" name="usuario">

                <label for="" class="label-diferent">Contraseña</label>
                <input type="password" class="input-diferent" name="cotrasena">

                <div class="btn-registro">
                    <input type="submit" value="Registrarse">
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>