<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="/static/css/reservas.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>

<!--MENU-->
    <header class="header-principal">
        <li class="logotipo"><a href="/templates/index.html"><img src="/static/images/logotipo.png" alt=""></a></li>
        <nav>
            <ul>
                <li><a href="/templates/index.html">
                    <!--ICONO DEL MENU-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-menu" height="24px" viewBox="0 0 24 24" 
                    width="24px" fill="#4D4D4D"><path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"/></svg>
                    Inicio</a></li>
                <li><a href="/templates/habitaciones-reserva.html">
                    <!--ICONO DEL MENU-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-menu" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" 
                    width="24px" fill="#4D4D4D"><g><rect fill="none" height="24" width="24"/><rect fill="none" 
                        height="24" width="24"/></g><g><g><rect fill="none" height="3" width="5" x="6" y="7"/><rect fill="none" height="3" width="5" x="13" y="7"/>
                            <path d="M20,10V7c0-1.1-0.9-2-2-2H6C4.9,5,4,5.9,4,7v3c-1.1,0-2,0.9-2,2v5h1.33l0.51,1.53C3.94,18.81,4.2,19,4.5,19h0 c0.3,0,0.56-0.19,0.66-0.47L5.67,17h12.67l0.51,1.53C18.94,18.81,19.2,19,19.5,19l0,0c0.3,0,0.56-0.19,0.66-0.47L20.67,17H22v-5 C22,10.9,21.1,10,20,10z M11,10H6V8c0-0.55,0.45-1,1-1h4V10z M18,10h-5V7h4c0.55,0,1,0.45,1,1V10z"/></g></g></svg>
                            Habitaciones - reservas</a></li>
                <li><a href="/salir" class="user-name">Cerrar Sesion</a>
                </li>
            </ul>
        </nav>
    </header>

<!--SECTION DEL PERFIL-->

    <section>
      <!--  <div class="culmn-iz">
            <img src="/static/images/emote-cliente.png" alt="">
            <p>{{id_usuario}}</p>
            <p>paulrodri98@gmail.com</p>
            <p>Paulrodri98</p>
            <a href="" class="btn-actualizar-perfil">Actualizar perfil</a>
        </div>-->

        <div class="culmn-de">
        {% for key, habitacion in lista_habitaciones.items() %}
            <div class="row-reservas">
                <div class="culmn1">
                    <div class="centrar">
                        <img src="/static/images/galery-habitacion-cuatro.jpg" alt="">
                    </div>
                </div>
                <div class="culmn2">

                        <h3>{{habitacion.nombre}}</h3>
                        <p>{{habitacion.descripcion}}</p>
                        <p class="p-valor">${{habitacion.precio}} USD</p>
                </div>
                <div class="culmn3">
                        <a href="/habitacion/{{ key }}?personas=0&habitaciones=0&fecha_entrada=0&fecha_salida=0" class="btn-reserva">Seleccionar</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    
</body>
</html>