<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <h1>{{habitacion.nombre}}</h1>
        <p>{{habitacion.descripcion}}</p>
        <p>Precio: {{habitacion.precio}}</p>
        {% if sesion_iniciada %}
        <form action="/habitacion/{{habitacion.id}}" method="post">
            <input type="submit" value="Reservar">
        </form>
        {% else %}
        <form action="/login" method="get">
            <input type="submit" value="Iniciar Sesion">
        </form>
        {% endif %}
    </body>
    </html>