<!DOCTYPE html>
    <html>
    <head></head>
    <body>
        <h1>Reservas</h1>
        {% if sesion_iniciada %}
            <p>Bienvenidos</p>
            <!---vinculo para perfil usuario--->
            <a href="/perfil/user">Perfil<a>
            <form action="/salir" method="post">
            <input type="submit" value="Salir">
            </form>
        {% else %}
            <p>Recuerda iniciar sesion</p>
        {% endif %}
        <a href="/registro">Registro</a>
        <a href="/login">Login</a>
        <a href="/agregar_habitacion">Hab</a>
        <br>
        {% for key, habitacion in lista_habitaciones.items() %}
        {% if habitacion.disponible == 1 %}
        <h3>{{habitacion.nombre}}</h3>
        <p>{{habitacion.descripcion}}</p>
        <p>Precio: {{habitacion.precio}}</p>
        <form action="/habitacion/{{ key }}" method="get">
            <input type="submit" value="Seleccionar">
        </form>
        {% endif %}
        {% endfor %}
    </body>
    </html>